// Body
$body-bg: #ffffff;
$body-bg-dashboard: #1F1F1F;


//$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$gfa-green: #05410D;
$gfa-light-green: #0C8D1D;
$light-grey: #A9A9A9;
$off-white: #AFAFAF;
$grey: #949494;
$white: #ffffff;


$primary: #0077FF;
$dark: #000;

$srm: #0D0D0D;